body {
    font-family: 'PPFraktionMono-Regular', sans-serif;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    background-color: #fff;
    color: #000;
}

hr {
    margin: 0px 0 !important;
    padding-top: 0px;
    padding: 0;
    border: none;
    border-top: 1px solid #000;
    /* Adjust color as needed */
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

header .logo img {
    width: 150px;
    cursor: pointer;
    /* margin: 0px; */
    margin-top: 15px;
    padding: 0px;
    padding-top: 15px;
}

header .about a {
    font-family: 'PPFraktionMono-Bold', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 19.2px;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}

.thumbnails {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
}

.thumbnail {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.thumbnail:hover {
    grid-column: span 2;
    grid-row: span 2;
    z-index: 10;
}

.thumbnail:hover img {
    transform: none;
}

.thumbnail:hover::after {
    content: attr(data-sensor-name);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 19.2px;
    z-index: 11;
    pointer-events: none;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin-top: 0;
    padding-top: 0;
}

.info {
    grid-column: span 3;
    font-family:'PPFraktionSans-Light';
    font-size: 19.2px;
    line-height: 22px;
    color: #000;
    text-align: left;
    margin-top: 5px;
    padding: 0px 0;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.sensor-name {
  font-size: 19.2px;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-left: 0;
  font-family: 'PPFraktionMono-Bold', sans-serif;
}

.detail-block {
  grid-column: span 8;
  margin-top: 5px;
  margin-bottom: 5px;
}

.block-title {
  margin-top: 0px;
  font-size: 19.2px;
  margin-bottom: 5px;
  color: #000;
  font-family: 'PPFraktionMono-Regular', sans-serif;
}

.detail {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  
}

.detail-block {
  grid-column: span 2;
  margin-top: 0px;
  font:19.2px;
  line-height: 22px;
  
}

.sensor_image,
.connect{
    grid-column: span 1;
}
.arduino-code,
.p5-code,

.sensor-use-case,
.arduino-editor,
.p5-editor {
  width: 100%;
  height: 90px;
  font-family: 'PPFraktionMono-Regular', monospace;
  font-size: 19.2px;
  background: #fff;
  border: 0px solid #ccc;
  padding: 0px;
  padding-left : 0px;
  box-sizing: border-box;
  resize: none;
}

.arduino-editor:focus,
.p5-editor:focus {
  outline: none; /* remove default outline */
  border: none; /* remove default border */
  background-color: #fff;
  padding-left : 0px;
  /* add a vertical line (2px) on the left side */
  box-shadow: -1px 0 0 0 #d0d0d0;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:17px;
  width: 30px;
  background-color: #000;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  background-color: white;
  transition: 0.4s;
  border-radius: 30px;
  top: 2px;
  left: 2px;
}


input:checked + .slider {
  background-color: #000;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Toggle container layout */
.toggle-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap:15px;
  margin-bottom: 15px;
  font-size: 19.2px;
  line-height: 22px;
}

/* Demo overlay */
.demo-toggle-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto;
}


.demo-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: contain;
  z-index: 100;
}

.toggle-label-text {
  font-size: 19.2px;
  padding: 0px;
  display: inline-block;
  white-space: nowrap;
}

.toggle-label-wrapper {
  display: flex;
  align-items: right;
  justify-content: space-between;
  font-size: 19.2px;
  padding: 0 0px;
  width: 100%;
  box-sizing: border-box;
}

.toggle-label-wrapper span {
  margin: 0;
  padding: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  top: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 30px;
}

input:checked + .slider:before {
  transform: translateX(14px);
}


